*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: #f7f4f4;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}