* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: #111;
  color: #fff;
}

input,button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
}